<h1>Você selecionou a resposta de ID: <%= params[:answer]%></h1>
<% if @answer.correct %>
 <h1 style="color: green;">Você ACERTOU! \o/</h1>
<% else %>
 <h1 style="color: red;">Você ERROU! :(</h1>
<% end %>