<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in? %>
  <p> Usuario Logado / <%= current_user.email %> </p>
<% else %>
  <p> Usuario não esta Logado<p>
<% end %>

<% if admin_signed_in? %>
  <p> Administrador Logado / <%= current_admin.email %> </p>
<% else %>
  <p> Administrador não esta Logado<p>
<% end %>